<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Telas_Iniciais"
        tools:targetApi="31">
        <activity
            android:name="br.fecap.fecap_social.SenhaLogin"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.AtualizarCadastroUsuario"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.SobreNosFinanceiro"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.SobreNosProjeto"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.SobreNosComunicacao"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.SobreNosPresidente"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.SobreNos"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.RedefinirSenhaActivity"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.AcaoPascoaSolidaria"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.AcaoTroteSolidario"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.CadastroEvento"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.PerfilActivity"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.EsqueciSenhaActivity"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.CadastroActivity"
            android:exported="false" />
        <activity android:name="br.fecap.fecap_social.LoginActivity" />
        <activity
            android:name="br.fecap.fecap_social.suporte"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.termos"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.sobreApp"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Calendario"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Config"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.AcaoHamburgada"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.NossasAcoesGeral"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Home"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Doacao"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Splash3"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Splash2"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.Splash1"
            android:exported="false" />
        <activity
            android:name="br.fecap.fecap_social.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>